.static{
    border: 1px solid #000;
    width: 122px;
    height: 400px;
    left: 255px;
    top: 333px;
    position: static;
}

.relative{
    border: 2px solid #000;
    width: 250px;
    height: 255px;
    left: 50px;
    bottom: 100px;
    position: relative;
}

.absolute{
    border: 3px solid #000;
    border-style: dashed;
    margin-top: calc(50% - 20px - 50px - 20px - 20px - 20px);
    right: calc(50% - 20px);
    width: 360px;
    height: 200px;
    left: 100px;
    top: 200px;
    position: absolute;
}

.sticky{
    border: 1px solid red;
    border-style: dashed;
    height: 111px;
    right: 150px;
    margin-top: calc(79% - 20px);
    position: sticky;
    -webkit-position: sticky;
}

.fixed{
    border: 1px solid crimson;
    border-style:dashed;
    width: 200px;
    height: 150px;
    left: 50px;
    top: 50px;
    position: fixed;
}